.logo {
  color: #42495b;
  font-weight: bold;
}

.nav .nav-item .nav-link {
  text-align: right;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 0px;
  color: #42495B;
  opacity: 1;
}

body {
  background: #FFFFFF;
}

.background-image {
  background: url("../img/fondo.png");
}

.background {
  background: transparent url("../img/photo1.png") 0% 0% no-repeat padding-box;
  background-size: 100% 100%;
  padding-bottom: 10%;
}

h2 {
  color: #e7e829;
  margin-left: 10%;
  top: 30%;
  padding-top: 10%;
  text-align: left;
  font: normal normal 800 25px/38px Poppins;
  letter-spacing: 3.75px;
}

h1 {
  color: #FFFFFF;
  margin-left: 10%;
  width: 65%;
  font: normal normal 800 74px/75px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-shadow: 16px 6px 20px rgba(66, 73, 91, 0.2392156863);
}

.button1 {
  color: #42495b;
  width: 180px;
  height: 40px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-top: 5%;
  margin-left: 10%;
  text-align: center;
  font: normal normal 600 14px/21px "Poppins";
  letter-spacing: 0px;
  color: #42495B;
  opacity: 1;
  background: #E7E829;
  border-radius: 25px;
  border: none;
}

.card_title {
  color: #e7e829;
  text-align: left;
  padding-left: 10%;
  font: normal normal normal 25px/38px Poppins;
  letter-spacing: 0px;
  opacity: 1;
  margin-top: 5%;
}

h3 {
  padding-left: 10%;
  font: normal normal 600 35px/40px Poppins;
  letter-spacing: 0px;
  color: #42495B;
  margin-bottom: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
}
.grid-container .card {
  width: 367px;
  height: 410px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px rgba(66, 73, 91, 0.1019607843);
  border-radius: 30px;
  opacity: 1;
}
.grid-container .card-title {
  font: normal normal 600 18px/22px Poppins;
  letter-spacing: 0px;
  color: #42495B;
}
.grid-container .card-text {
  font: normal normal normal 16px/22px Poppins;
  letter-spacing: 0px;
  color: #42495B;
}
.grid-container .card-body {
  padding: 2rem 4rem;
}
.grid-container .card-img-top {
  width: 5vw;
  margin-left: 38%;
  margin-top: 5%;
}
.grid-container .btn-small {
  background: #E7E829;
  border-radius: 25px;
  margin-left: 70%;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px/21px Poppins;
  color: #42495B;
  width: 93px;
  height: 30px;
  border: none;
  margin-top: 15%;
}
.grid-container .btn_round {
  width: 80px;
  height: 80px;
  border: none;
  margin-left: 70%;
  border-radius: 55%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px rgba(66, 73, 91, 0.231372549);
  opacity: 1;
  margin-top: 40%;
}
.grid-container .find-more-travelance {
  background: #E7E829;
  box-shadow: 0px 10px 20px rgba(66, 73, 91, 0.1019607843);
  border-radius: 30px;
  opacity: 0.8;
}

.text {
  background: #E7E829 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px rgba(126, 118, 249, 0.1019607843);
  border-radius: 6%;
  opacity: 0.7;
}

.text_1 {
  margin-left: 7%;
}

.events-img {
  position: absolute;
  left: 36%;
  bottom: 55%;
}

.events-img-activities {
  position: absolute;
  left: 42%;
  bottom: 44%;
}

.events-img-rent {
  position: absolute;
  left: 44%;
  bottom: 52%;
}

.events-img-flights {
  position: absolute;
  left: 44%;
  bottom: 40%;
}

.events-img-tours {
  position: absolute;
  left: 37%;
  bottom: 50%;
}

.events-img-routing {
  position: absolute;
  left: 40%;
  bottom: 50%;
}

.events-img-cruises {
  position: absolute;
  left: 36%;
  bottom: 50%;
}

@media only screen and (max-width: 599px) {
  .gallery_container {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .gallery_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 275px;
    padding: 20px;
    grid-gap: 10px;
  }
}
.gallery_img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.84;
}

.gallery-hotels {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/hotels.jpg");
  position: relative;
  border-radius: 10%;
  background-size: cover;
  grid-column-start: span 2;
}

.gallery-activities {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/activities.jpg");
  position: relative;
  border-radius: 10%;
  background-size: cover;
  grid-row-start: span 2;
}

.gallery-rent-a-car {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/rent.jpg");
  position: relative;
  border-radius: 10%;
  background-size: cover;
}

.gallery-flights {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/flights.jpg");
  position: relative;
  border-radius: 10%;
  background-size: cover;
  grid-row-start: span 2;
}

.gallery-tours {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/tours.jpg");
  position: relative;
  border-radius: 10%;
  background-size: cover;
}

.gallery-routing {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/routing.jpg");
  position: relative;
  border-radius: 10%;
  background-size: cover;
}

.gallery-cruises {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/cruises.jpg");
  position: relative;
  border-radius: 10%;
  background-size: cover;
  grid-column-start: span 2;
}

.img_title {
  position: absolute;
  color: #ffffff;
  bottom: 29%;
  left: 31%;
  text-align: center;
  font: normal normal bold 25px/64px Poppins;
  letter-spacing: 0px;
}

.animation {
  background: #E7E829 0% 0% no-repeat padding-box;
  border-radius: 36px;
  opacity: 0.7;
  margin-top: 5%;
}

.animation1 {
  text-align: left;
  font: normal normal 800 1.5em Poppins;
  color: #42495B;
  opacity: 1;
}

.animation2 {
  text-align: left;
  font: normal normal 800 4em Poppins;
  letter-spacing: 0px;
  color: #42495B;
  opacity: 1;
}

.button2 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 31px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 1em Poppins;
  letter-spacing: 0px;
  color: #42495B;
  width: 82%;
  height: 19%;
  margin-top: 55%;
  box-shadow: 0px 0px 20px rgba(66, 73, 91, 0.231372549);
}

.cohete {
  width: 73%;
  height: 60%;
  left: auto;
  margin-left: 40%;
  margin-top: 18%;
}

.btn {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px rgba(66, 73, 91, 0.1019607843);
  border: 0px solid #42495B;
  border-radius: 36px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 1.3em Poppins;
  letter-spacing: 0px;
  color: #42495B;
  text-transform: capitalize;
  text-align: left;
  width: 188%;
}

.img_computer {
  float: right;
  margin-right: -44%;
  width: 105%;
  height: 60%;
  margin-top: -11%;
}

.bot {
  width: 50%;
  margin: 20px auto;
  color: #fff;
  padding: 15px;
  margin-left: 10%;
}

.options {
  margin-bottom: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
}/*# sourceMappingURL=styles.css.map */